<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionando Integrantes</title>
</head>
<body>
    <form method="post">
        Nome: <input type="text" name="nome" 
            placeholder="Digite o nome do integrante"><br>
        Stage Name: <input type="text" name="stagename" 
            placeholder="Digite o stage name do integrante"><br>
        Gênero: <input type="text" name="genero" 
            placeholder="Digite o gênero do integrante"><br>
        Aniversário: <input type="date" name="dob" 
            placeholder="Digite o aniversário do integrante"><br>
        Número de Grupos: <input type="number" name="numgrupo" 
            placeholder="Digite a quantidade de grupos que o integrante participa"><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>